*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size:medium;
    box-sizing: border-box;
}

:root{
    --c1: #524a97;
    --c2: #5d569e;
    --c3:#6861a4;
    --c4: #7e78b1;
    --c5: #a9a5cb;
    --c6: #d4d2e5;
    --c7: #eae9f2;;
    --c8: #f5f4f9;

    --bg: #111;
    --card: #1c1f2b;
    --title: #fff;
    --text: #a5a5a5;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    width: 100%;
    min-height: 100vh;
/*    background: var(--bg);*/
    padding: 10px;
}

.card{
    width: 100%;
    max-width: 300px;
    background: var(--card);
    margin: 30px 15px 30px 30px;
    padding: 10px 10px;
    border-radius: 10px;
    position: relative;
}

.card::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(red, blue);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
}

.card h2{
    margin: 1em;
    color: var(--title);
    text-align: center;
}

label{
    display: block;
}

label[for="generate"], label[for="upload"], label[for="create"]{
    display: block;
    width: 200px;
    background: #524a97;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.formItems{
    margin: 1em;
    color: var(--text);
    text-align: left;
}

#paletteColor{
    width: 8.75em;
    height: 8.75em;
    margin-bottom: .5em;
}

/*.imageDisplay{
    width: 100%;
    max-width: 600px;
    background: var(--card);
    margin: 30px 15px 30px 30px;
    padding: 30px 30px;
    border-radius: 20px;
}*/

input[type="submit"], input[type="file"]{
    display: none;
}